doctype html
html(lang="ja")
  head(prefix="og: http://ogp.me/ns# fb: http://www.facebook.com/2008/fbml")
    meta(charset="UTF-8")
    meta(name="viewport", content="width=750")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    title= title
    meta(name="description", content=description)
    link(href="css/style.css" rel="stylesheet")
  body
    div.wrapper
      p.wrapper__background
        img(src="img/background.jpg" alt="background")
      div.visited
        - for(var i = 0; i < 20; i++){
          p.visited__inner
        - }
    script(src="//code.jquery.com/jquery-2.2.4.min.js")
    div.modal
      p.modal__inner
    script(src="js/script.js")
